.section{
    &__forecast{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 100rem;
    }
}
.forecast{
    visibility: hidden;
    display: flex;
    &__comparediv{
        display: flex;
        margin: 1rem auto;
        justify-content: space-around;
        flex-direction: column;
        background-color: #444444;
        padding: 1rem;
        border-radius: 1%;
        color: white;
        text-align: center;
        
    }
    &__div{
        margin: 0 1rem;
    }
    &__h2, &__h3{
        font-size: 2rem;
    }
}
@media screen and (min-width: 1024px){
    .forecast{
        &__comparediv{
            flex-direction: row;
            width: 90rem;
        }
    }
}
