.section{
    &__output{
        display: block;
        margin: 0 auto;
        max-width: 40rem;
    }
}
.output{
    display: flex;
    visibility: hidden;
    &__h2, &__h3{
        font-size: 2rem;
    }
    &__div{
        display: inline;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}