.section{
    &__search{
        display: block;
        margin: 0 auto;
        max-width: 40rem;
    }
}

.search{
    display: flex;
    flex-direction: column;
    &__h1{
        font-size: 2rem;
    }
    &__p{
        font-size: 1.6rem;
    }
    &__input{
        width: 15rem;
        height: 1.2rem;
        font-size: 1.2rem;
        font-family: inherit;
        border: 0;
        border-bottom: 2px solid grey;
        outline: 0;
        font-size: 1.3rem;
        color: black;
        padding: 7px 0;
        background: white;
        transition: border-color 0.2s;
        margin-bottom: 2rem;
    }
    &__button{
        font-size: 1.2rem;
    }
    h4{
        font-size: 1.6rem;
    }
}
@media screen and (min-width: 1024px){
    .search{
        &__h1{
            font-size: 3rem;
        }
        &__p{
            font-size: 2rem;
        }
        &__input{
            width: 20rem;
            height: 1.2rem;
            font-size: 2rem;
            font-family: inherit;
            border: 0;
            border-bottom: 2px solid grey;
            outline: 0;
            color: black;
            padding: 7px 0;
            background: white;
            transition: border-color 0.2s;
            margin-bottom: 2rem;
        }
        &__button{
            font-size: 2rem;
        }
        h4{
            font-size: 1.6rem;
        }
    }
    
}