@import '_reset.scss';
@import '_search.scss';
@import '_output.scss';
@import '_layout.scss';
@import '_main.scss';
@import '_font.scss';
@import '_forecast.scss';
.forecast{
    visibility: hidden;
    div{
        display: inline;
    }
    &__h2, &__h3{
        font-size: 2rem;
    }
}